img{
    width: 100%;
    display: block;
    object-fit: cover;
}

/* ----------------------HEADER-------------------------- */
header{
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header__left p {
    margin: 1rem 0 2.4rem;
}

/* ----------------------HEADER-------------------------- */

.categories{
    /* background: #B0C4DE; */
    height: auto;
}

.categories h1{
    line-height: 1;
    margin-bottom: 3rem;
}

.categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    align-items: center;
}

.categories__left{
    margin-right: 4rem;
    
}

.categories__left p{
    margin: 1rem 0 3rem;
}

.categories__right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
}

.category{
    background: #F0FFFF;
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transiition);
}

.category:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0,3);
    z-index: 1;
}

.category:nth-child(1) .category__icon{
    background: #F0F8FF;
}
.category:nth-child(2) .category__icon{
    background: #F0F8FF;
}
.category:nth-child(3) .category__icon{
    background: #F0F8FF;
}
.category:nth-child(4) .category__icon{
    background: #F0F8FF;
}

.category__icon{
    background: #B0C4DE;
    padding: 0.7rem;
    border-radius: 0.9rem;
}

.category h5{
    margin: 2rem 0 1rem;
}

.category p{
    font-size: 0.85rem;
}